body{
    background: aliceblue;
}
h2{
    color: rgb(240, 4, 4);
}
.contact-us{
    width: 450px;
    background:rgb(159, 255, 231);
    padding: 50px;
    margin: 100px auto;
    border-radius: 30px;
    position: relative;
}
img:hover{
 opacity: 0.5;
 cursor: pointer;
}
img{
  border-radius: 20%;
}
.form, .form-item{
 top: 20px;
 width: 100%;
}
.form-item .input{
   width: 100%;
   margin-bottom: 10px;
   border-radius: 15px;
   border: none;
   padding: 25px 40px;
   box-sizing: border-box;
   background: rgb(180, 183, 241);
}
.form-item{
    position: relative;
}
.form-item .fas{
    position: absolute;
    top: 25px;
    left: 15px;
}
.btn{
    text-align: center;
    width: 95%;
    background: #75a29a;
    border-radius: 20px;
    padding: 10px 6px;
    color: #000000;
    cursor: pointer;
    margin: 10px;  
}
.sidebar {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0077ff;
    padding-top: 20px;
  }
  .sidebar a {
    display: block;
    background-color: azure;
    color: rgb(0, 0, 0);
    padding: 12px;
    text-decoration: none;
  }
  .sidebar a:hover {
    background-color: black;
    color: aqua;
  }
  .main-content {
    margin-left: 210px;
    padding: 20px;
  }


.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
 }
.social-icons a {
  font-size: 30px;
  text-decoration: none;
}
.app-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.app-section img {
  width: 40px;
  height: 40px;
}
